[data-aellux-adaptive='tabs'] nav {
  display: flex;
  flex-flow: column;
  text-align: left;
}

[data-aellux-adaptive='tabs'] nav [data-aellux-tab] {
  all: unset;
  display: block;
  padding: 1rem;
  border: none;
  cursor: pointer;
  user-select: none;
  text-align: center;
  background: transparent;
}

[data-aellux-adaptive='tabs'] nav [data-aellux-tab][aria-selected=false],
[data-aellux-adaptive='tabs'] [data-aellux-tabpanel]:not(.ux-active) {
  background: rgba(0 0 0 /50%);
}

[data-aellux-adaptive='tabs'] [data-aellux-tabpanel]:not(.ux-active) {
  display: none;
}

[data-aellux-adaptive='tabs'] nav [data-aellux-tab][aria-selected=true] {
  text-decoration: underline;
}

*[data-aellux-adaptive='tabs'].ux-shape-vertical {
  flex-flow: column;
}

*[data-aellux-adaptive='tabs'].ux-shape-square {
  flex-flow: column;
}

*[data-aellux-adaptive='tabs']:not(.ux-shape-horizontal) nav {
  flex-flow: row;
  text-align: center;
}

*[data-aellux-adaptive='tabs'].ux-shape-horizontal {
  flex-flow: row;
}