[data-aellux-adaptive='tabs'] nav {
  display: flex;
  flex-flow: column;
  text-align: left;
}

[data-aellux-adaptive='tabs'] nav [data-aellux-tab] {
  padding: 10px;
  background: transparent;
  border: none;
  cursor: pointer;
  text-align: inherit;
}

*[data-aellux-adaptive='tabs'].ux-shape-vertical {
  flex-flow: column;
}

*[data-aellux-adaptive='tabs'].ux-shape-square {
  flex-flow: column;
}

*[data-aellux-adaptive='tabs']:not(.ux-shape-horizontal) nav {
  flex-flow: row;
  text-align: center;
}

*[data-aellux-adaptive='tabs'].ux-shape-horizontal {
  flex-flow: row;
}