[data-ae-tab-group] {
  display: flex;
  flex-flow: column;
  text-align: left;
}

.ae--shape-vertical [data-ae-tab-group],
.ae--shape-square [data-ae-tab-group] {
  flex-flow: row;
  text-align: center;
}

[data-ae-tab] {
  all: unset;
  display: block;
  padding: 1rem;
  border: none;
  cursor: pointer;
  user-select: none;
  text-align: center;
  background: transparent;
}

[data-ae-tab][aria-selected=false],
[data-ae-tab-panel]:not(.ae--active) {
  background: rgba(0 0 0 /50%);
}

[data-ae-tab-panel]:not(.ae--active) {
  display: none;
}

[data-ae-tab][aria-selected=true] {
  text-decoration: underline;
}

.ae--shape-vertical {
  flex-flow: column;
}

.ae--shape-square {
  flex-flow: column;
}

.ae--shape-horizontal {
  flex-flow: row;
}

[data-ae-adaptive] {
  display: flex;
}

[data-ae-option] {
  background-color: grey;
  border: 2px solid black;
  cursor: pointer;
  user-select: none;
}

[data-ae-option].ae--active {
  background-color: black;
}